@model DogPics

@{
    ViewData["Title"] = "Random Cat Fact";
}

<h1>@ViewData["Title"]</h1>

<div>
    <h2>Did you know?</h2>
    <p>@Model.message</p>
    <small>status: @Model.status characters</small>
</div>