@model DogPics

@{
    ViewData["Title"] = "Random Dog Pics";
}
<body style="background-color: #1c1719;">
    <p style="color: aliceblue; text-align: center; font-family: Bahnschrift SemiBold; 
    font-size: 50px;">@ViewData["Title"]</p>

    <div class="text-center">
        <style>
            .center {
                display: block;
                margin-left: auto;
                margin-right: auto;
                width: 50%;
            }
        </style>
    
            <h2 style="color: aliceblue;text-align: center;">Here's a random dog pic.</h2>
            <img src="@Model.message" alt="Random Dog Pic" class="center">
            <br>
            <p style="color: aliceblue; text-align: center; font-family: Bahnschrift SemiBold;"><small>status: @Model.status</small></p>
    </div>
</body>