@model DogPics

@{
    ViewData["Title"] = "Random Dog Pics";
}

<style>
    body {
        background-color: #1c1719;
    }

    .view {
        color: aliceblue;
        text-align: center;
        font-family: Bahnschrift SemiBold;
        font-size: 50px;
    }

    .center {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
    }

    .status {
        color: aliceblue;
        text-align: center;
        font-family: Bahnschrift SemiBold;

    }
</style>

<body style="background-color: #1c1719;">
    <p class="view">@ViewData["Title"]</p>

    <div class="text-center"> 
            <h2 style="color: aliceblue;text-align: center;">Here's a random dog picture :></h2>
            <img src="@Model.message" alt="Random Dog Pic" class="center">
            <br>
            <p class="status"><small>status: @Model.status</small></p>
    </div>
</body>